body {
  color: black;
  font-size: 16px;
  font: inherit;
  background: url("struggling.png") no-repeat center center fixed;
  /*background-image: url("struggling.png");
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: lightblue;

}

.footer {
  padding: 100px;
  position: relative;
  margin-top: 50px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:100px;
  margin-bottom: 20px;
}



h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
