body {
  color: black;
  font-size: 16px;
  font: inherit;
  background: url("struggling.png") no-repeat center center fixed;
  /*background-image: url("struggling.png");
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: lightblue;

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
