body {
  color: black;
  font-size: 16px;
  font: inherit;
  background: url("struggling.png") no-repeat cover fixed;
  /*background-image: url("struggling.png");
  background-size: cover;
  background-repeat: no-repeat;*/
}

div {
  background-color: blue;


}
